.btn {
	font-family: "Poppins";
	font-weight: 600;
	border-radius: 100px;
	transition: transform 0.3s ease;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.1);
}

/* BUTTON STYLES */

.btn--primary__solid {
	background: #000;
	color: #fff;
	border: none;
	box-shadow: 19px 18px 12px -3px rgba(0, 0, 0, 0.1);
}

.btn--secondary__solid {
	background-color: #fff;
	color: #000;
	border: none;
	box-shadow: 19px 18px 12px -3px rgba(0, 0, 0, 0.1);
}

.btn--registersandlogs {
	background-color: #000;
	color: #fff;
	border: none;
	box-shadow: 19px 18px 12px -3px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	font-weight: 700;
}

/* BUTTON SIZES */

.btn--medium {
	padding: 10px 20px;
	font-size: 18px;
}

.btn--large {
	padding: 20px 40px;
	font-size: 24px;
}

.btn--registerlogins {
	padding: 8px 40px;
	font-size: 23px;
}
